<div class="chart-container">
    <span style="text-align:center"> {{ name[0] }}
        <canvas id="MyChart0">{{ chart[0] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[1] }}
        <canvas id="MyChart1">{{ chart[1] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[2] }}
        <canvas id="MyChart2">{{ chart[2] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[3] }}
        <canvas id="MyChart3">{{ chart[3] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[4] }}
        <canvas id="MyChart4">{{ chart[4] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[5] }}
        <canvas id="MyChart5">{{ chart[5] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[6] }}
        <canvas id="MyChart6">{{ chart[6] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[7] }}
        <canvas id="MyChart7">{{ chart[7] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[8] }}
        <canvas id="MyChart8">{{ chart[8] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[9] }}
        <canvas id="MyChart9">{{ chart[9] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[10] }}
        <canvas id="MyChart10">{{ chart[10] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[11] }}
        <canvas id="MyChart11">{{ chart[11] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[12] }}
        <canvas id="MyChart12">{{ chart[12] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[13] }}
        <canvas id="MyChart13">{{ chart[13] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[14] }}
        <canvas id="MyChart14">{{ chart[14] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[15] }}
        <canvas id="MyChart15">{{ chart[15] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[16] }}
        <canvas id="MyChart16">{{ chart[16] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[17] }}
        <canvas id="MyChart17">{{ chart[17] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[18] }}
        <canvas id="MyChart18">{{ chart[18] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[19] }}
        <canvas id="MyChart19">{{ chart[19] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[20] }}
        <canvas id="MyChart20">{{ chart[20] }}</canvas>
    </span>

</div>