<div class="sticky" style="width:100%; text-align: center;">

    <!-- date is {{dat}} -->

    <Table style="width:100%; text-align: center;">
        <tr>
            <Td>Dont jump into the Trade</Td>
            <Td>  Dont Over Trade</Td>
            <Td>Be with your senses</Td>
            <Td>Be with your Stop Loss</Td>
        </tr>
    </Table>


</div>

  <!--//NIFTY = 256265
  //SENSEX = 265
 

  //RELIANCE=738561
  //HDFCBANK=341249
  //ICICIBANK=1270529
  //SBIN = 779521
  //INFY = 408065-->


<div class="controls" style="text-align:center; margin:12px 0; position:sticky; top:0; background:#fff; z-index:1000; padding:8px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.06);">
    <label style="margin-right:8px">Select Instrument:</label>
    <select [(ngModel)]="instrument" (ngModelChange)="onInstrumentChange($event)">
        <option value="265">SENSEX</option>
        <option value="256265">NIFTY</option>

        <option value="738561">RELIANCE</option>
        <option value="341249">HDFCBANK</option>
        <option value="1270529">ICICIBANK</option>

        <option value="779521">SBIN</option>
        <option value="408065">INFY</option>

    </select>
        <button style="margin-left:12px; padding:6px 12px; cursor:pointer;" (click)="fetchData()" [disabled]="isLoading">
            <span *ngIf="!isLoading">Refresh</span>
            <span *ngIf="isLoading">Refreshing...</span>
        </button>
</div>

<div class="grid chart-container">
    <div class="col-6" style="text-align:center"> {{ name[0] }}
        <canvas id="MyChart0">{{ chart[0] }}</canvas>
    </div>
    <div class="col-6" style="text-align:center"> {{ name[1] }}
        <canvas id="MyChart1">{{ chart[1] }}</canvas>
    </div>
    <span style="text-align:center"> {{ name[2] }}
        <canvas id="MyChart2">{{ chart[2] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[3] }}
        <canvas id="MyChart3">{{ chart[3] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[4] }}
        <canvas id="MyChart4">{{ chart[4] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[5] }}
        <canvas id="MyChart5">{{ chart[5] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[6] }}
        <canvas id="MyChart6">{{ chart[6] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[7] }}
        <canvas id="MyChart7">{{ chart[7] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[8] }}
        <canvas id="MyChart8">{{ chart[8] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[9] }}
        <canvas id="MyChart9">{{ chart[9] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[10] }}
        <canvas id="MyChart10">{{ chart[10] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[11] }}
        <canvas id="MyChart11">{{ chart[11] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[12] }}
        <canvas id="MyChart12">{{ chart[12] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[13] }}
        <canvas id="MyChart13">{{ chart[13] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[14] }}
        <canvas id="MyChart14">{{ chart[14] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[15] }}
        <canvas id="MyChart15">{{ chart[15] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[16] }}
        <canvas id="MyChart16">{{ chart[16] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[17] }}
        <canvas id="MyChart17">{{ chart[17] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[18] }}
        <canvas id="MyChart18">{{ chart[18] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[19] }}
        <canvas id="MyChart19">{{ chart[19] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[20] }}
        <canvas id="MyChart20">{{ chart[20] }}</canvas>
    </span>

    <span style="text-align:center"> {{ name[21] }}
        <canvas id="MyChart21">{{ chart[21] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[22] }}
        <canvas id="MyChart22">{{ chart[22] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[23] }}
        <canvas id="MyChart23">{{ chart[23] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[24] }}
        <canvas id="MyChart24">{{ chart[24] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[25] }}
        <canvas id="MyChart25">{{ chart[25] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[26] }}
        <canvas id="MyChart26">{{ chart[26] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[27] }}
        <canvas id="MyChart27">{{ chart[27] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[28] }}
        <canvas id="MyChart28">{{ chart[28] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[29] }}
        <canvas id="MyChart29">{{ chart[29] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[30] }}
        <canvas id="MyChart30">{{ chart[30] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[31] }}
        <canvas id="MyChart31">{{ chart[31] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[32] }}
        <canvas id="MyChart32">{{ chart[32] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[33] }}
        <canvas id="MyChart33">{{ chart[33] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[34] }}
        <canvas id="MyChart34">{{ chart[34] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[35] }}
        <canvas id="MyChart35">{{ chart[35] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[36] }}
        <canvas id="MyChart36">{{ chart[36] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[37] }}
        <canvas id="MyChart37">{{ chart[37] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[38] }}
        <canvas id="MyChart38">{{ chart[38] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[39] }}
        <canvas id="MyChart39">{{ chart[39] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[40] }}
        <canvas id="MyChart40">{{ chart[40] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[41] }}
        <canvas id="MyChart41">{{ chart[41] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[42] }}
        <canvas id="MyChart42">{{ chart[42] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[43] }}
        <canvas id="MyChart43">{{ chart[43] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[44] }}
        <canvas id="MyChart44">{{ chart[44] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[45] }}
        <canvas id="MyChart45">{{ chart[45] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[46] }}
        <canvas id="MyChart46">{{ chart[46] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[47] }}
        <canvas id="MyChart47">{{ chart[47] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[48] }}
        <canvas id="MyChart48">{{ chart[48] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[49] }}
        <canvas id="MyChart49">{{ chart[49] }}</canvas>
    </span>
    <span style="text-align:center"> {{ name[50] }}
        <canvas id="MyChart50">{{ chart[50] }}</canvas>
    </span>
   

</div>